<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Подключение к БД -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/testdb?useSSL=false&amp;serverTimezone=UTC&amp;allowPublicKeyRetrieval=true&amp;useUnicode=true&amp;characterEncoding=UTF-8
        </property>

        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Диалект MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Создание таблиц -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Показать SQL в консоли -->
        <property name="hibernate.show_sql">true</property>

        <!-- Сущности -->
        <mapping class="org.lesson_30_hibernate.Student"/>
        <mapping class="org.lesson_30_hibernate.Homework"/>

    </session-factory>
</hibernate-configuration>
